<!-- Portfolio Grid Section -->

<div class="portfolio-grid">
    {% for post in site.portfolio %}
    <div class="portfolio-cell">
        <a class="portfolio-link" data-keyboard="true" href="{{ post.url | relative_url }}">
            <div class="caption" title="{{ post.title }}">
                <div class="caption-content">
                    <i class="fa fa-search-plus fa-3x"></i>
                </div>
            </div>
            <img alt="" class="" src="{{ post.img | relative_url }}">
        </a>
    </div>
    {% endfor %}
</div>