---
layout: default
---
<style>
 h1{
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
   margin-top: 0px;
   margin-bottom: 0px;
}

img {
  margin-top: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.slide-left {
  width:100%;
  overflow:hidden;
}
div.slide-left p {
  animation: slide-left 12s;
}

@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

</style>

<div class="home">
    <h1 style="font-family: Courier New, serif; font-size:120pt;font-weight:normal; font-style:italic">
        HELLO</h1>
</div>

<img src="../img/background.jpg" alt="background" style="width:100%">


<div class="slide-left">
    <p style="font-family: Calibri, serif; font-size:15pt;font-weight:normal; font-style:bold"> hello! it's
        very very nice you decided to visit my website on this beautiful day. how are you? hope you have
        fun scrolling. xoxo and have the best day!! :D</p>
</div>



