---
layout: default
---

<div class="home">


    <center><p style="font-family: Courier New, serif; font-size:120pt;font-weight:normal; font-style:italic">
        HELLO</p></center>



    <!--<p style="margin-top:-175px;font-family: Courier New, serif; font-size:25pt; font-style:italic"><marquee
                behavior="scroll"
                                                                                               direction="left">My name
            is Emma. I like coding websites and taking photos!</marquee></p></center>-->

    <div id="main" class="call-out"
         style="background-image: url('{{ site.header_feature_image | relative_url }}')">
    </div>

</div>
